body {
    font-size : 10px;
    font-family : verdana, helvetica, sans-serif; 
    margin : 0px; 
    background-color : #ffffff;
    color : #000000;
}

*.help {
    font-size : 12px;
}

a {
    color: #0000ff;
    text-decoration : none;
}

h1 {
    color: #000000;
    text-decoration : none;
    font-size : 24px;
}

h2 {
    color: #000000;
    text-decoration : none;
    font-size : 18px;
}

a:visited {
    color: #0000aa;
}

a:hover {
    color: #0000ff;
    text-decoration : underline;
}

